/* The side navigation menu */

/*
    section {
        visibility: hidden;

    }
*/

/*
.splash_mobile img {
    width: 100%;
}
*/

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #9f9f9f;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #9f9f9f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-container {
    display: none;
    background-color: rgb(84, 149, 180);
    padding-left: 8px;
}



.dropdown-btn {
    padding-left: 4.45vw;
    text-decoration: none;
    font-size: 18.5px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #9f9f9f;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 35vw;
    left: 0;
    background-color: #39728D;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    visibility: hidden;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #9f9f9f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /*    width: 10vw;*/
    /*        padding: 10px;*/
    /*    width: 35vw;*/

}

.grid-container img {
    width: 100%;
    height: auto;
    /*    height: 12vw;*/
}

.grid-item {
    /*    border: solid 2px;*/
    /*    padding: 20px;*/
    /*    font-size: 30px;*/
    /*    text-align: center;*/
    /*    width: 35vw;*/

}

/*
.grid-item img {
    width: 20vw;
}
*/


/*
.grid-item figure,
.grid-item figure img {
    width: 100%;
    height: auto;

}
*/


.openbtn {
    /*    position: fixed;*/
    top: -7vw;
    font-size: 40px;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 7vw;
    border-radius: 2vw;
    position: relative;
    visibility: hidden;
    /*    display: none;*/
    z-index: 1;

}


/*
#main {
    transition: margin-left .5s;
    padding: 20px;
}
*/




.container1 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;

}

/* The side navigation menu above */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;

}




nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /*    position: relative;*/

    /*    margin: 1rem 2rem;*/
    /*    display: none;*/

}

.active {
    background-color: #225b76;
}

nav li a:hover:not(.active) {
    background-color: #9f9f9f;
}

nav ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #39728D;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;

}


nav ul li {

    float: left;
    border-right: 1px solid #39728D;
}

nav ul li:last-child {
    padding-right: 0px;
    border-right: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

nav ul li a:hover {
    background-color: #111;
    transition: all 0.5s ease 0s;
}

.billedebox1 img {
    width: 87vw;
    height: 87vw;
    margin: 5vw;
}

.billedebox2 img {
    width: 87vw;
    height: 87vw;
    margin: 5vw;
}

.billedebox3 img {
    width: 87vw;
    height: 87vw;
    margin: 5vw;
}

.billedebox4 img {
    width: 87vw;
    height: 87vw;
    margin: 5vw;
}

.wp-image-177 {
    /*    display: none;*/
}


/*Footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #39728D;
    /*
    padding-top: 5px;
    padding-bottom: 5px;
*/
    align-content: space-between;
    border-top: solid grey;
    border-width: thick;

}

footer p {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 600;
    /*    padding-right: 15px;*/
    /*    padding-left: 15px;*/
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 2vw;
}



.some img {
    width: 15.5vw;
    /*    height: 4.5;*/
    margin: 2vw;
}

/*.kontakt p {}*/




























/*media queries*/

@media only screen and (max-width: 1170px) {
    section {
        visibility: visible;


    }
}

@media only screen and (min-width: 800px) {

    /*baggrundsbillede*/
    .parallax {
        /* The image used */
        background-image: url("pics/bg_forside.JPG");

        /* Set a specific height */
        min-height: 1300px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        /*    z-index: -10;*/
    }

    .openbtn {
        position: absolute;
        top: 15vw;
        /*        display: block;*/
        visibility: visible;
        display: none;

    }

    /*
    .wp-block-image img {
        width: 100%;
        height: 100%;
    }
*/

    .velkomsttekst p {
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        font-family: 'Lato', sans-serif;
        /*        top: 10vw;*/
    }

    .splash_mobile img {
        width: 100%;
        display: none;
        transform: translateY(-50%);
    }

    .splash_mobile {
        display: none;
    }


    .grid-container {
        position: absolute;
        top: 15vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*    width: 10vw;*/
        /*        padding: 10px;*/
        /*    width: 35vw;*/
    }


    .billedebox1 img {
        width: 40vw;
        height: 40vw;
        position: relative;
        margin-left: 2vw;
    }

    .billedebox2 img {
        width: 40vw;
        height: 40vw;
        position: relative;
        margin-left: 2vw;
    }

    .billedebox3 img {
        width: 40vw;
        height: 40vw;
        position: relative;
        margin-left: 2vw;
    }

    .billedebox4 img {
        width: 40vw;
        height: 40vw;
        position: relative;
        margin-left: 2vw;
    }

    .some img {
        width: 9vw;
        height: 9vw;
        /*        margin-right: 10vw;*/
    }


}



@media screen and (max-width: 700px) {

    /*baggrundsbillede*/
    .parallax {
        /* The image used */
        background-image: url("pics/bg_forside.JPG");

        /* Set a specific height */
        min-height: 1100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        /*    z-index: -10;*/
    }

    .grid-container {
        position: absolute;
        top: 35vw;


    }

    .openbtn {
        position: absolute;
        top: 15vw;
        /*        display: block;*/
        visibility: visible;

    }

    .velkomsttekst p {
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: -10vw;
    }

    .splash_desktop img {
        display: none;
        visibility: hidden;
    }

    .sidenav {
        top: 25vw;
        padding-top: 15px;
        visibility: visible;
        z-index: 2;
    }

    .sidenav a {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }

    nav {
        display: none;
    }



}
